
	.box1 , .box2 , .box3 {
	font-family:calibri;
	box-sizing: border-box;
	border:solid black 1px;
	background-color: #BC8F8F;
	margin: 5px;


}
.content{
	padding: 10px;
}
h1{
	text-align: center;
	font-size: 50px;
	font-family: calibri;
}
.head1,.head2,.head3{
	font-size:25px;
	font-weight: bold;
	border:1px solid black;
	width: 35%;
	position: relative;
	left:64.7%;
	text-align: center;
}
.head1{
	background-color: #DA70D6; 
}
.head2{
	background-color: 	#F08080;
}
.head3{
	background-color: 	#66CDAA;
}
@media(min-width: 992px){
	.box1 , .box2 , .box3 {
		float: left;
		width:32%;
	}
}
@media(min-width: 768px) and (max-width: 991px){
	.box1 , .box2{
		float:left;
		width:48%;
	}
	.box3{
		float:left;
		width: 100%;
	}

}
@media(max-width: 767px){
	.box1 , .box2, .box3{
		float: left;
		width:100%;
	}
}
